
data/data_tweets.RData
keys/paul-css-seminar-2021-a1e75382ae2c.json
keys/trustme-312210-41f50915e801
data/
keys/
index_cache/
.Rproj.user
_bookdown_files/
_book/
.Rproj.user/
Authors & deadlines.gsheet
rsconnect/

Chapter_2_Google_NLP_API_files
Chapter_2_Google_NLP_API_cache
index_files
index_cache
2021_apis_for_social_scientists_a_collaborative_review.log


.Rhistory


save_rds.txt