/* page size */
@page {
  size: 6in 9in; /* var(--pagedjs-width) doesn't work in browser when printing */
}
@page :blank {
}

/* store some string variables */
.shorttitle1 {
  string-set: h1-text content(text);
}

.shorttitle2 {
  string-set: h2-text content(text);
}

/* left page */
.running-h1-title {
  position: running(runningH1Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}
.running-h1-title:before {
  content: string(h1-text);
}

@page chapter:left {
  text-align: justify;  /* Camille */
  text-align-last: left; /* Camille */
  @bottom-right {
    content: counter(page);
  }
  @top-right {
    content: element(runningH1Title);
    white-space: nowrap !important;
  }
}


/* right page */
.running-h2-title {
  position: running(runningH2Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}
.running-h2-title:before {
  /* We would want to write: */
  /* content: string(h2-text, start); */
  /* However, this is yet unsupported by Paged.js, see https://gitlab.pagedmedia.org/tools/pagedjs/issues/38 */
  content: string(h2-text);
}
@page chapter:right {
  text-align: justify;  /* Camille */
  text-align-last: left; /* Camille */
  @bottom-right {
    content: counter(page);
  }
  @top-right {
    content: element(runningH1Title);
    white-space: nowrap !important;
  }
}

/* New chapter page */
@page chapter:first {
  text-align: justify;  /* Camille */
  @bottom-right {
    content: counter(page);
  }
  @top-right {
    content: none;
  }
}
@page :first {
  text-align: justify;  /* Camille */
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: none !important;
  }
  background-image: var(--front-cover);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Front cover */
.front-cover {
  text-align: justify;  /* Camille */
  break-after: recto;
}

/* Front page or title page */
.front-page {
  text-align: justify;  /* Camille */
  counter-reset: page;
  break-after: page; /* Camille */
}

/* Front matter*/
@page frontmatter:left {
  text-align: justify;  /* Camille */
  @top-left {
    content: counter(page, lower-roman);
  }
  @top-right {
    content: element(runningH1Title);
    white-space: nowrap !important;
  }
}
@page frontmatter:right {
  text-align: justify;  /* Camille */
  @top-right {
    content: counter(page, lower-roman);
  }
  @top-left {
    content: element(runningH1Title);
    white-space: nowrap !important;
  }
}
@page frontmatter:first {
  text-align: justify;  /* Camille */
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: counter(page, lower-roman);
  }
}

/* last page or back cover */
.back-cover {
  break-before: verso;
}
.pagedjs_page:last-of-type {
  background-image: var(--back-cover);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* page breaks; aka CSS fragmentation */
.level1 {
  text-align: justify;  /* Camille */
  text-align-last: left; /* Camille */
  break-after: page; /* Camille */
  page: chapter;  /* Paul */
}
.front-matter-container .level1 {
  page: frontmatter;
  text-align: left;  /* Camille */
}
.section > h1, .section > h2, .section > h3, .section > h4, .section > h5, .section > h6 {
  break-after: avoid;
  text-align: left;  /* Camille */
}
.footenotes {
  break-before: always;
  break-after: always;
}
.figure {
  font-weight: bold; /* Camille */
  font-size: 9px; /* Camille */
  word-spacing: normal;
}

/* reset page numbering for main content */
.main .level1:first-child h1 {
  counter-reset: page;
  text-align: left;  /* Camille */
}


/* do not break captions */
caption {
  font-weight: bold; /* Camille */
  font-size: 9px; /* Camille */
  word-spacing: normal;
  text-align: center; /* Camille */
}
